.carousel-wrap {
  margin: 5px auto;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  cursor: pointer;
  position: relative;
  z-index: 100;
  /* transform: scale(1); */
  transition: 0.4s;
  -webkit-backface-visibility: hidden; 
}

.owl-carousel .item:hover{
  /* transform: scale(1.2); */
  /* box-shadow: 0 3px 7px rgba(0,0,0,0.42); */
  transition: 0.4s;
  z-index: 9999;
}

.owl-carousel .item img {
  min-height: 80px;
  max-height: 80px;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -20px;
}

.owl-nav .owl-next {
  right: -20px;
}